vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

/.idea
/public/storage
Homestead.json
Homestead.yaml
/public/css/*.css
/public/css/*.map
/public/js/*.js
_ide_helper.php
.phpstorm.meta.php
